<nav class="navbar navbar-expand navbar-dark bg-dark">
  <a class="navbar-brand"
    href="#">
    Inventoried
  </a>
  <div class="navbar-nav">
    <a class="nav-item nav-link"
      routerLink="/settings"
      routerLinkActive="active">
      Settings
    </a>
    <a class="nav-item nav-link"
      routerLink="/browse-assets"
      routerLinkActive="active">
      Browse
    </a>
    <a class="nav-item nav-link"
      routerLink="/directory"
      routerLinkActive="active">
      Directory
    </a>
  </div>
  <div class="navbar-nav ml-auto">
      <a class="nav-item nav-link"
      routerLink="/dashboard"
      routerLinkActive="active">
      Dashboard
    </a>
    <a class="nav-item nav-link"
      routerLink="/login"
      routerLinkActive="active">
      Login
    </a>
    <a class="nav-item nav-link"
      routerLink="/register"
      routerLinkActive="active">
      Register
    </a>
    <!--div class="input-group input-group-sm search-bar">
      <div class="input-group-prepend">
        <div class="input-group-text">
          Search
        </div>
      </div>
      <input type="text"
        class="form-control">
    </di-->
  </div>
</nav>