<div class="px-5 pb-5 y-scroll">
  <div class="page-title center-aligned-row">
    <h1>User Directory</h1>
  </div>
  <table class="table table-striped table-hover border">
    <thead>
      <th scope="col">
        First Name
      </th>
      <th scope="col">
        Last Name
      </th>
      <th scope="col">
        Email
      </th>
      <th scope="col">
        Assets Checked Out
      </th>
    </thead>
    <tbody>
      <tr *ngFor="let user of us.users"
        (click)="view_user.open(user)">
        <td>
          {{user.first_name}}
        </td>
        <td>
          {{user.last_name}}
        </td>
        <td>
          {{user.email}}
        </td>
        <td>
          {{user.checked_out_assets.length}}
        </td>
      </tr>
    </tbody>
  </table>
</div>

<user-view-modal #view_user
  (open_checkout)="checkout.open($event)">
</user-view-modal>
<checkout-modal #checkout></checkout-modal>