@import "../../../../styles";

$cancel-color: red;

.cancel-add-btn {
  color: $cancel-color;
  &:hover {
    color: darken($cancel-color,20%);
  }
}

.edit-show {
  display: none;
  line-height: 0px;
}
.card {
  &:hover {
    .edit-show {
      display: block;
    }
  }
}