<div class="full-height y-scroll">
  <table class="table table-striped table-hover">
    <thead>
      <th scope="col">
        Serial Number
      </th>
      <th scope="col">
        Category
      </th>
      <th scope="col">
        Status
      </th>
    </thead>
    <tbody>
      <tr *ngFor="let asset of assets.assets"
        (click)="asset_edit.open(asset)">
        <td>
          {{asset.serial_number}}
        </td>
        <td>
          {{ss.getAssetCategory(asset.category_uuid).value}}
        </td>
        <td>
          {{ss.getAssetStatus(asset.status_uuid).value}}
        </td>
      </tr>
    </tbody>
  </table>
</div>

<asset-edit-modal #asset_edit></asset-edit-modal>