<div class="full-height center-content flex-row flex-nowrap">
  <a class="d-inline btn btn-link"
    routerLink="/add-asset"
    routerLinkActive="active">
    <i class="fas fa-plus-circle fa-10x"></i>
  </a>
  <a class="d-inline btn btn-link"
      routerLink="/checkout-asset"
      routerLinkActive="active">
    <i class="fas fa-sign-out-alt fa-10x"
      style="transform:rotate(-90deg)"></i>
  </a>
  <a class="d-inline btn btn-link"
    routerLink="/checkin-asset"
    routerLinkActive="active">
    <i class="fas fa-sign-in-alt fa-10x"
      style="transform:rotate(90deg)"></i>
  </a>
  <a class="d-inline btn btn-link"
    routerLink="/retire-asset"
    routerLinkActive="active">
    <i class="fas fa-minus-circle fa-10x"></i>
  </a>
</div>